button{
  font-size: 18px;
  border background:black;
  padding:8px;
  margin:4px 2px;
}
#eie{
  background-image:url("eie.jfif");
  background-repeat: no-repeat;
  height:200px;
  background-size: cover;
  width: 1200px;
  border:solid black;
  line-height:0.4;
  padding: 10px;
}
ul{
  line-height:1.2;
}
.button1 {border-radius:12px;}
.button2 {border-radius:12px;}
.button3 {border-radius:12px;}
.button5 {border-radius:12px;}
.button6 {border-radius:12px;}
#logo{
  float:left;
  width:90px;
  height:90px;
  margin-left:200px;
}
#main{
    position:center;
    height:500px;
    width:90%;
}
img{
    position:center;
    margin-left:10%;
    height:500px;
    width:90%;
}
#info{
  background-image: url("labs.jfif");
  background-size: cover;
  padding: 20px;
  margin: 8px;
  opacity:0.9;
}
